.body {
  width: 1328px;
  height: 700px;
  top: -0.16px;
  gap: 0px;
  opacity: 0px;
}
.head {
  background-color: #ffffef;
}
.topbody {
  display: flex;

  background-color: white;
  margin-top: 10px;
}
.SHOP {
  margin-right: 130px;
  margin-left: 30px;
}
.men {
  margin-top: 5px;
  margin-right: 100px;
}
.pocket {
  margin-top: 5px;
}
.glass {
  margin-right: 100px;
  margin-top: 5px;
}
.style {
  margin-top: 5px;
  margin-right: 130px;
}
.us {
  margin-right: 130px;
}
.stories {
  margin-right: 130px;
}
.KINN {
  margin-top: 5px;
  margin-right: 630px;
}
.all {
  font-size: 38px;
  position: absolute;
  left: 250px;
  top: -70px;
}

.text {
  color: #56593d;

  position: absolute;
  left: 1300px;
  top: 600px;
}
.bodyy {
  margin-top: 10px;
  border: 10px solid;
  border-color: #ffffef;
}
.text {
  font-size: 60px;
}
.elevate {
  font-size: larger;
}
.maple {
  color: #56593d;
  font-size: 25px;
  margin-top: 20px;
  padding: 20px;
}
.shop {
  font-size: large;
  color: white;
  background: #56593d;

  width: 134px;
  height: 40px;
  gap: 0px;
  opacity: 0px;

  text-align: center;
  position: absolute;
  top: 100px;
  padding-top: 10px;
  left: 300px;
}
.shopall {
  width: 183px;
  height: 106px;
  color: darkolivegreen;
  font-size: 20px;
  margin-left: 500px;
  position: absolute;
  top: 1050px;
}
.read {
  width: 183px;
  height: 106px;
  color: darkolivegreen;
  margin-left: 1000px;
  font-size: 20px;
  position: absolute;
  top: 1050px;
}
.center {
  width: 1360px;
  height: 302px;
  text-align: center;
  margin-left: 200px;
  color: #56593d;
}
.globtext {
  width: 1360px;
  height: 302px;
  font-size: 50px;
  text-align: center;
  margin-left: 100px;
}
.food {
  background-color: #ffffef;
  text-align: center;
  padding-bottom: 100px;
}
.pic {
  display: flex;
  justify-content: space-around;
}
.ms {
  font-size: 20px;
  position: absolute;
  left: 200px;
  background-color: #ffffef;
  top: 1730px;
}

.ml {
  font-size: 20px;
  position: absolute;
  left: 850px;
  background-color: #ffffef;
  top: 1750px;
}

.mw {
  font-size: 20px;
  position: absolute;
  background-color: #ffffef;
  left: 1500px;
  top: 1750px;
}
.kolbasa {
  border: 10px solid;
  border-color: #ffffef;
}
.block {
  text-align: center;
  position: absolute;
  color: #56593d;
  top: 1850px;
  left: 900px;
  font-size: 20px;
}
.textdva {
  text-align: center;
  font-size: 60px;
  position: absolute;
  color: #56593d;
  top: 1850px;
  left: 400px;
}
.design {
  background-color: #ffffef;
  display: flex;
  color: #56593d;
}
.right {
  max-width: 547px;
  text-align: center;
  margin-left: 180px;
  font-size: 30px;
  margin-top: 150px;
}
.rightteble {
  margin-left: 120px;
}
.teble {
  margin-top: 10px;
  background-color: #ffffef;
  display: flex;
  color: #56593d;
}
.leftteble {
  margin-right: 500px;
  max-width: 344px;
  text-align: center;
  padding-left: 200px;
  font-size: 30px;
  margin-top: 120px;
}
.subdcribe {
  background-color: #ffffef;
  text-align: center;
  font-size: 50px;
  color: #56593d;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.last {
  background-color: #ffffef;
  font-size: 50px;
  text-align: center;
  color: #56593d;
  padding-top: 10px;
  margin-top: 30px;
  padding-bottom: 20px;
}
.poloska {
  width: 40px;
  margin-left: 245px;
}
.texta {
  width: 500px;
}
.poloskaaa {
  width: 40px;
  margin-left: 150px;
}
.lastt {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.9px;
  letter-spacing: 1.5750000476837158px;
  text-align: left;

  color: white;
  display: flex;
  background-color: #56593d;
}
.poloskaa {
  width: 40px;
}
.one {
  margin-left: 25px;
  margin-right: 350px;
}
.two {
  width: 348px;
  padding-left: 50px;
  margin-right: 400px;
}
.three {
  margin-right: 350px;
}
.four {
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 50px;
}
